---
import '~/styles/tailwind.css';

import Head, { type Props as HeadProps } from '~/components/head.astro';
import Header from '~/components/header.astro';

export type Props = HeadProps;
---

<!doctype html>
<html lang="en">
  <Head {...Astro.props} />

  <body
    class="bg-neutral-950 text-neutral-400 mx-auto flex min-h-screen max-w-[872px] flex-col gap-9 px-10 py-8 text-sm md:gap-20 md:py-16"
  >
    <Header />

    <slot />
  </body>
</html>
